.card {
  display: flex;
  flex-direction: column;
  width: 15rem;
  padding: 1rem;
  margin: 0.5rem 0;
  word-wrap: break-word;
  border-radius: 7px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  position: relative;
  gap: 0.2rem;
  background: #fff;
  z-index: 1;
}
.title_input,
.content_input {
  width: 100%;
  background: #f0f0f0;
  padding: 0.2rem;
  border-radius: 0.4rem;
  border: none;
  outline: none;
}
.isCompleted {
  font-weight: 700;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
  text-align: center;
  cursor: pointer;
}

.save_btn {
  position: absolute;
  bottom: 10px;
  right: 18px;
  width: 3rem;
  border: none;
  outline: none;
  background: #13a500;
  color: #fff;
  font-weight: 600;
  padding: 0.2rem 0.4rem;
  border-radius: 0.2rem;
  cursor: pointer;
}
.task_title,
.title_input {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0.2rem 0;
}
.note_content,
.content_input {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}
.btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.delete_icon,
.edit_icon {
  width: 1rem;
  height: 1rem;
  padding: 0.2rem;
  background: #eeeaea;
  cursor: pointer;
  border-radius: 1rem;
}

@media screen and (max-width: 600px) {
  .card {
    width: 80%;
  }
}
