.overlay {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  opacity: 0;
  z-index: -1;
  transition: 2s;
}
.show_overlay {
  opacity: 1;
  z-index: 5;
}
.form_modal {
  transition: 1s;
  width: 40vw;
  height: 40vh;
  border-radius: 0.5rem;
  background: #fff;
  position: absolute;
  left: 50%;
  top: -50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 5px 3px #e0dfdf;
  z-index: 15;
  padding: 1rem;
}
.show_form_modal {
  top: 50%;
}

.input_box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}
.input_box > input {
  width: 80%;
  border: none;
  outline: none;
  padding: 0.7rem 0.4rem;
  font-size: 1rem;
  background: #f0f0f0;
  border-radius: 0.3rem;
}
.btn {
  padding: 0.4rem 1.4rem;
  border: none;
  outline: none;
  background: rgb(4, 182, 4);
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  background: green;
}
